@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

body {
    font-family: 'Pattaya', sans-serif;
    margin: 10px;
    background: #ebebeb;
}

 /* h3 {
    font-family: 'Kanit', sans-serif;
    font-size: 40px;
    color: red;
 } */

.form-container form .imagem {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  
}

.form-container form .imagem img {
    width: auto;
    height: 100px;

 } 


* {
    box-sizing: border-box;
}

.form-container {
    background: white;
    margin: 15px auto;
    width: 400px;
    border-radius: 5%;
}

form h3 {
    text-align: center;
}

form .input-container {
    position: relative;
    margin-bottom: 15px;
}

form {
    padding: 20px;
}


form .input-container input, input[type = "submit"]{
    width: 100%;
    height: 45px;
    border-radius: 25px;
}

form input[type = "submit"] {
    border: 0;
    background: red;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

form .input-container input {
    border: 1px solid #e4e4e4;
    color: #818181;
    padding: 0 55px 0 25px;
    font-size: 1rem;
}

svg {
    position: absolute;
    right: 20px;
    top: calc(50% - 12px);
    color: #818181;
}

.options-container {
    padding: 0 20px;
    margin: 20px auto;
    color: #818181;
}

.options-container .checkbox-container, .options-container a {
    display: inline-block;
    width: 50%;
}

a {
    text-align: right;
    color: red;
    text-decoration: none;
    font-weight: bold;
}

form p {
    color: #818181;
    text-align: center;

}

form .social-media-container {
    margin: 20px auto;
    width: fit-content;
}

form .social-media-container .icon-container{
    background: #375c98;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
}



form .social-media-container .icon-container:nth-child(2) {
    background: #c54f33;
}

form .social-media-container .icon-container:nth-child(3) {
    background: #4dadf2;
}

/* os dois executam a mesma coisa que o primeiro porém só alterando o background; 
depende da ordem em que o "icon-container" aparece no html */

form .social-media-container .icon-container svg {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    color: white;
}

.footer {
    width: fit-content;
    margin: 10px auto;
}