@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Jolly+Lodger&family=Syne+Mono&family=Tourney:wght@600&family=VT323&display=swap');

footer{
    text-align: center;
    margin-bottom: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

body{
    justify-content: center;
    min-height: 100vh;
}

.nome{
    font-family: 'Tourney';
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
}

h1{
    text-align: center;
    position: relative;
    margin:0 auto;
    width: 300px;
    align-self: center;
}
h2{
    text-align: center;
    position: relative;
    margin:0 auto;
    width: 195px;
    align-self: center;
}

.instagram{
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    width: 250px;
    height: 250px;
    align-self: center;
    border-radius: 55px;
    background: radial-gradient(circle at 30% 110%, #ffdb8b 0, #ee653d 25%, #d42e81 50%, #a237b6 75%, #3e5fbc 100%);
    box-shadow: 0 15px 40px 1px rgba(0,0,0,0.3);
    

}

.desc{
    text-align: center;
    font-size: medium;
    position: relative;
    margin:0 auto;
    width: 300px;
    align-self: center;
}

span{
    display: block;
    border: 15px solid #fff;
    width: 150px;
    height: 150px;
    border-radius: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;  
    border-radius: 50%; 
    border: 15px solid #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    top: 16px;
    right: 16px;
}


